@use "./variables" as v;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: v.$text-color;
  background-color: #f9fafb;
}

.container {
  max-width: v.$container-width;
  margin: 0 auto;
  padding: 1.5rem;
}